.path-choice__button_side_dark {
  background-color: #E53663;
  border: none;
  color: #FFF;
  transition: box-shadow .3s ease-out, background-color .3s ease-out;
}

.path-choice__button_side_dark:hover {
  background-color: transparent;
  border: solid 2px #E53663;
  color: #FFF;
  box-shadow: 0 0 8px #E53663;
}

.path-choice__button_side_dark:active {
  /* background-color: #E53663; */
  background-color: transparent;
  border: solid 2px #E53663;
  color: #FFF;
  box-shadow: 0 0 20px #E53663;
}

@media screen and (max-width: 767px) {
  .path-choice__button_side_dark:active {
    background-color: transparent;
    border: solid 2px #E53663;
    color: #FFF;
    box-shadow: 0 0 8px #E53663;
  }
}
