.digits__item {
/*   margin-right: 60px; */
  position: relative;
  cursor: pointer;
  transition: transform .6s ease;
}

.digits__item:last-of-type {
  margin-right: 0;
}

.digits__item:hover {
  transform: scale(1.05);
}
