/* .about-us__text {
  font-family: 'Lato', Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: .05em;
  color: #FFF;
  text-align: center;
  margin: 0 0 60px;
}

@media screen and (max-width: 767px) {
  .about-us__text {
    font-size: 13px;
  }
} */
