.impressions__image {
  width: 133px;
  height: 133px;
  border-radius: 75px;
  margin-right: 32px;
  cursor: pointer;
  transition: transform .6s ease-in-out;
  box-shadow: 0 0 12px beige;
}

.impressions__image:hover {
  /* box-shadow: 0 0 12px beige; */
  transform: scale(1.02);
}

.impressions__image::after {
  box-shadow: 0 0 15px beige;
  opacity: 0;
  transition: opacity .6s ease-in-out;
}

.impressions__image:hover::after {
  opacity: 1;
}

@media screen and (max-width: 767px) {
  .impressions__image {
    margin: 0 0 32px;
    width: 120px;
    height: 120px;
  }
}
