$base-font-family:          'Lato', Arial, sans-serif;

$color-primary:             #FFF831;
$color-secondary:           #05E7E6;
$color-simple-text:         #FFF;
$color-bright-accent:       #E53663;
$color-neitral:             transparent;

$screen-l:                  1140px;
$screen-m:                  768px;
$screen-s:                  375px;
$screen-xs:                 320px;

$nav-min-height-l:           75px;
$nav-min-height-m:           55px;
$nav-min-height-s:           45px;
