.digits__container {
  /* display: flex;
  justify-content: center;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  grid-gap: 60px 60px;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .digits__container {
    grid-template-columns: repeat(auto-fill, 220px);
    grid-gap: 40px 40px;
  }
}

