@import url(./__wrap/additional__wrap.css);
@import url(./__text/additional__text.css);

.additional {
  min-height: 100px;
  background-color: #E53663;
  display: flex;
  justify-content: center;
  align-items: center;
}
