$color-yellow:        #FFF831;
$color-pink:          #E53663;
$color-blue:          #05E7E6;
$color-white:         #FFF;
$color-black:         #000;
$color-transp:          transparent;

$base-font-family:      'Lato', Arial, sans-serif;

$screen-s:              375px;
$screen-m:              768px;
$screen-l:              1140px;
$screen-xl:             1141px;
